@import "https://unpkg.com/open-props";

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: (100% - 2rem, 900px);
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
}

main article {
    width: 400px;
}

body {
    font-family: var(--font-sans);
}

nav {
    display: flex;
    align-items: center;
    padding: 1em;
    background-color: var(--blue-2);
    width: (100% - 2rem, 500px);
}


nav ul {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav ul li {
    justify-self: flex-end;
    margin-right: 1em;

}

ul li a {
    color: var(--gray-9);
    text-decoration: none;
    font-size: 1.5rem;
}

a:hover {
    text-decoration: underline;
}

p {
    font-size: 1.36rem;
    line-height: 1.7;
}